{%extends 'base.html'%}
        
{% block content %}
        <h2 class="mb-4">Admin Dashboard</h2>

        <div class="row py-4" >
            

            <div class="col-md-4">
                <div class="card border-success h-100">
                    <div class="card-body">
                        <h5 class="card-title">Create New Table</h5>
                        <p class="card-text">Let staff users define and create a custom table in the database.</p>
                        <a href="{% url 'create_table' %}" class="btn btn-success">Create Table</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card border-primary h-100 d-flex flex-column">
                    <div class="card-body flex-fill">
                        <h5 class="card-title">Manage Uploads</h5>
                        <p class="card-text">Review or delete uploaded files.</p>
                        <a href="{% url 'view_tables' %}" class="btn btn-primary">View Tables</a>
                        
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card border-secondary h-100 d-flex flex-column">
                    <div class="card-body flex-fill">
                        <h5 class="card-title">Dashboard Creation</h5>
                        <p class="card-text">Create a dashbord for Existing Tables</p>
                        <a href="{% url 'create_statuscount_dashboard' %}" class="btn btn-secondary px-4">Create</a>
                        <a href="{% url 'dashboard_list' %}" class="btn btn-secondary px-4">View</a>
        
                    </div>
                </div>

            </div>

            <!-- Add more admin sections below if needed -->
        </div>

        
        <h3 class="mt-3 text-primary"><i class="bi bi-wrench-adjustable-circle px-2"></i> Internal Tools </h3>
        <div class="row py-4" >
            
            <div class="col-md-4">
                <div class="card border-dark h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">SPIR Convertion</h5>
                        <p class="card-text">users can convert the SPIR format sheet to Table</p>
                        <div class="mt-auto d-flex justify-content-end">
                            <a href="{% url 'SPRI_tool_page' %}" class="btn btn-dark">GO</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>        
        {% endblock %}

    