{% extends "base.html" %}
{% load custom_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Custom Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="container mt-5">
    {% block content %}
        <div class="card shadow p-4">
            <h2 class="mb-4">Create Custom Table</h2>
            
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="mb-3 d-flex align-items-center">
                    <label class="form-label px-3 text-nowrap mt-2">Choose File Create:</label>
                    <input id="file_uploade_id" type="file" name="excel_file" accept=".xlsx" class="form-control" required>
                    <!-- <label class="form-label px-3 text-nowrap">Select Sheet</label>
                    <select id="SheetDropDown_id" name="sheet_name" class="form-select" disabled>
                        <option value="" >
                            -- Select Sheet --
                        </option>
                        {% for sheet in sheets %}
                            <option  value="{{sheet}}" {% if selected_sheet and selected_sheet == sheet %}selected{% endif %}>
                                    {{sheet}} 
                            </option>
                        {% endfor %}
                    </select> -->
                </div>
            </form>

            <!-- {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %} -->

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="table_name" class="form-label">Table Name</label>
                    <input type="text" id="table_name" name="table_name" class="form-control" required oninput="validateName(this)">
                    <div class="form-text text-danger py-2 d-none" id="table_name_error">❌ Must start with a letter or underscore and contain only letters, numbers, and underscores.</div>
                </div>

                <div id="fields">
                    <!-- <div class="row g-2 mb-2 mt-1 align-items-center field-row">
                        
                        <div class="col-md-4">
                            <input type="text" name="field_name[]" class="form-control" placeholder="Field Name" required oninput="validateName(this)">
                            <div class="form-text text-danger d-none py-2">❌ Invalid field name.</div>
                        </div>

                        <div class="col-md-4">
                            <select name="field_type[]" class="form-select field_type" required>
                                <option value="">Select Field Type</option>
                                <option value="VARCHAR(255)">Text</option>
                                <option value="INTEGER">Number</option>
                                <option value="DATE">Date</option>
                                <option value="BOOLEAN">Boolean</option>
                            </select>
                        </div>
                        
                
                        <div class="col-md-2 maxLengthField-div" style="display:none;">
                            <input type="text" name="max_length[]"  class="form-control maxLengthField" placeholder="Max Size" value="255" oninput="allowOnlyNumbers(this)"></intput>
                        </div>
                        
                        <div class="col-md-1">
                            <button  type="button" class="btn btn-outline-danger btn-sm remove-Field-row" >❌</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm constraintToggle-btn" >⚙️</button>
                        </div>
                        

                        <div  class="flex-center flex-warp gap-1 constraint-row" style="display: none;">

                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" style="width:1rem; height:1rem;" name="not_null[]" value="0"> NOT NULL</label>
                            </div>
                            
                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="unique[]" style="width:1rem; height:1rem;" value="0"> UNIQUE</label>
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Default:</label> <input type="text" name="default_value[]" placeholder="(optional)" class="form-control">
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Check:</label> <input type="text" name="check_condition[]" placeholder="e.g. age >= 18" class="form-control">
                            </div>
                            
                             <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="composite_pk[]" style="width:1rem; height:1rem;" value="0"> Composite PK</label>
                            </div>

                        </div>

                    </div> -->

                </div>

                <div class="mb-3">
                    <button id="addField-id" type="button" class="btn btn-outline-secondary btn-sm" >+ Add Field</button>
                </div>

                <button type="submit" class="btn btn-primary" id="createBtn">Create Table</button>
                <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary ms-2">Back to Dashboard</a>
            </form>
        </div>
    {% endblock %}
    </div>

    <!-- JavaScript to Add Field Inputs -->
{% block scripts %}
<script>

    function allowOnlyNumbers(input) {
        input.value = input.value.replace(/[^0-9]/g, '');
    }

    // Call this on page load
    document.addEventListener('DOMContentLoaded',function(){

        const addField_rowBtn=document.getElementById('addField-id');
        

        function updateCreateButtonState() {
            const fieldRows = document.querySelectorAll('.field-row');
            const createBtn = document.getElementById('createBtn');
            createBtn.disabled = fieldRows.length === 0;
        }

        function updateCkFieldIndexes() {

            document.querySelectorAll('#fields .constraint-row').forEach((row, idx) => {
                
                console.log(row)
                row.querySelectorAll('input[name="not_null[]"]').forEach(cb => cb.value = idx);
                row.querySelectorAll('input[name="unique[]"]').forEach(cb => cb.value = idx);
                row.querySelectorAll('input[name="composite_pk[]"]').forEach(cb => cb.value = idx);
            // add others if you want to index them too
            });

        }
        // UPDATE INITIAL CREATE BUTTON STATUS
        updateCreateButtonState();

        // AJAX CALL FOR UPLOAD FILE TO GET COLUMN NAME
    //     document.getElementById("table_selectionId").addEventListener('change',function(){

    //     DropdownValue=this.value;
    //     if (DropdownValue){

    //         fetch(`/get_table_fields/${DropdownValue}/`)
    //         .then(response => response.json())
    //         .then( data => { 
                
    //             let container = document.getElementById('tableFields');
    //             container.innerHTML = '';
                
    //             console.log(`Lenth ${data.fields.length}`);
    //             if (data.fields.length > 0){
    //                 let list = document.createElement('ol');

    //                 data.fields.forEach(element => {
    //                     let item = document.createElement('li');
    //                     item.textContent = element;
    //                     list.appendChild(item); 
    //                 });
    //                 container.appendChild(list);
    //             }

    //         })
    //         .catch(error => confirm(`Error ${error}`));

    //     }

    // });

    // AJAX CALL FOR AFTER UPLOAD THE FILE
    document.getElementById('file_uploade_id').addEventListener('change',function(){

            let file=this.files[0];
            if (!file){
                return
            }

            let formdata= new FormData();

            formdata.append('excel_file',file);

            fetch("/get_sheet_names/",{

                    method: 'POST',
                    body: formdata,
                    headers:{
                        "X-CSRFToken": getCookie("csrftoken") // For Django CSRF protection
                    }
            })
            .then( response => response.json() )
            .then( data => {
                    console.log("Data From url :"+data);
                    data.activeSheet_columns.forEach(col =>{
                        console.log(col);
                        const fieldHTML =`<div class="row g-2 mb-2 mt-1 field-row">
                        
                        <div class="col-md-4">
                            <input type="text" name="field_name[]" value="${col}" class="form-control" placeholder="Field Name" required oninput="validateName(this)">
                            <div class="form-text text-danger d-none py-2">❌ Invalid field name.</div>
                        </div>

                        <div class="col-md-4">
                            <select name="field_type[]" class="form-select field_type" required>
                                <option value="">Select Field Type</option>
                                <option value="VARCHAR(255)" selected>Text</option>
                                <option value="INTEGER">Number</option>
                                <option value="DATE">Date</option>
                                <option value="BOOLEAN">Boolean</option>
                            </select>
                        </div>
                        
                
                        <div class="col-md-2 maxLengthField-div" style="display:none;">
                            <input type="text" name="max_length[]"  class="form-control maxLengthField" placeholder="Max Size" value="255" oninput="allowOnlyNumbers(this)"></intput>
                        </div>
                        
                        <div class="col-md-2">                            
                            <button  type="button" class="btn btn-outline-danger btn-sm remove-Field-row" >❌</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm constraintToggle-btn" >⚙️</button>
                        </div>

                    

                    <div class="flex-center mb-2 flex-warp gap-1 constraint-row" style="display: none;">

                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" style="width:1rem; height:1rem;" name="not_null[]" value="0"> NOT NULL</label>
                            </div>
                            
                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="unique[]" style="width:1rem; height:1rem;" value="0"> UNIQUE</label>
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Default:</label> <input type="text" name="default_value[]" placeholder="(optional)" class="form-control">
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Check:</label> <input type="text" name="check_condition[]" placeholder="e.g. age >= 18" class="form-control">
                            </div>
                            
                             <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="composite_pk[]" style="width:1rem; height:1rem;" value="0"> Composite PK</label>
                            </div>

                        </div>

                    </div>`;

                    document.getElementById("fields").insertAdjacentHTML("beforeend", fieldHTML);
                    updateCreateButtonState();
                    updateCkFieldIndexes();
                });
                    // let sheetDropdown=document.getElementById("SheetDropDown_id");
                    // sheetDropdown.innerHTML='<option value="">-- Select Sheet --</option>';
                    // if (data.sheet_names) {
                    //         data.sheet_names.forEach(sheet => {
                    //             let opt = document.createElement("option");
                    //             opt.value = sheet;
                    //             opt.textContent = sheet;
                    //             sheetDropdown.appendChild(opt);
                    //         });
                    //     sheetDropdown.disabled = false;
                    // }
                })
            .catch(
                    error => confirm(`Error ${error}`)
            );
    
            function getCookie(name){
            
                let cookieValue = null;
                if ( document.cookie && document.cookie != '' ){
                        let cookies=document.cookie.split(";");
                        for (let cookie of cookies) {
                            cookie = cookie.trim();
                            if (cookie.startsWith(name + "=")) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                }
                console.log("Cookie value :"+cookieValue)
                return cookieValue; 
            
            }

    });
        



   
        // ADD FIELD ROW BUTTON
        addField_rowBtn.addEventListener("click",function(){
            
                const fieldHTML =`<div class="row g-2 mb-2 mt-1 field-row">
                        
                        <div class="col-md-4">
                            <input type="text" name="field_name[]" class="form-control" placeholder="Field Name" required oninput="validateName(this)">
                            <div class="form-text text-danger d-none py-2">❌ Invalid field name.</div>
                        </div>

                        <div class="col-md-4">
                            <select name="field_type[]" class="form-select field_type" required>
                                <option value="">Select Field Type</option>
                                <option value="VARCHAR(255)">Text</option>
                                <option value="INTEGER">Number</option>
                                <option value="DATE">Date</option>
                                <option value="BOOLEAN">Boolean</option>
                            </select>
                        </div>
                        
                
                        <div class="col-md-2 maxLengthField-div" style="display:none;">
                            <input type="text" name="max_length[]"  class="form-control maxLengthField" placeholder="Max Size" value="255" oninput="allowOnlyNumbers(this)"></intput>
                        </div>
                        
                        <div class="col-md-2">                            
                            <button  type="button" class="btn btn-outline-danger btn-sm remove-Field-row" >❌</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm constraintToggle-btn" >⚙️</button>
                        </div>

                    

                    <div class="flex-center mb-2 flex-warp gap-1 constraint-row" style="display: none;">

                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" style="width:1rem; height:1rem;" name="not_null[]" value="0"> NOT NULL</label>
                            </div>
                            
                            <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="unique[]" style="width:1rem; height:1rem;" value="0"> UNIQUE</label>
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Default:</label> <input type="text" name="default_value[]" placeholder="(optional)" class="form-control">
                            </div>
                            
                            <div class="w-50 flex-center">
                                <label class="form-label px-2">Check:</label> <input type="text" name="check_condition[]" placeholder="e.g. age >= 18" class="form-control">
                            </div>
                            
                             <div class="w-50 d-flex justify-content-start border rounded">
                                <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="composite_pk[]" style="width:1rem; height:1rem;" value="0"> Composite PK</label>
                            </div>

                        </div>

                    </div>`;

            

            document.getElementById("fields").insertAdjacentHTML("beforeend", fieldHTML);
            updateCreateButtonState()
            updateCkFieldIndexes()
        });
        
        //REMOVE FILED ROW BUTTON 
        document.addEventListener("click",function(event){

            if(event.target.classList.contains("remove-Field-row")){
                const fieldRow = event.target.closest('.field-row');
                console.log(fieldRow)
                if (fieldRow) {
                    fieldRow.remove();
                }
                updateCreateButtonState();
                updateCkFieldIndexes();
            }

        });
        

        document.addEventListener("click", function(event){
            
            if(event.target.classList.contains("constraintToggle-btn")){
                            
                const fieldRow = event.target.closest(".field-row");
                const panel = fieldRow.querySelector(".constraint-row");  // find sibling
                if (panel) {
                  // toggle visibility
                  panel.style.display = panel.style.display === "none" || !panel.style.display ? "flex": "none";
                }
                
            }
        });

        
        function validateName(input) {
            const errorEl = input.parentElement.querySelector('.form-text');
            const value = input.value.trim();

            // Must start with a-z or underscore, and only contain word chars
            const isValid = /^[a-z_][\w\s]*$/i.test(value);
            
            if (!isValid) {
                errorEl.classList.remove('d-none');
            } else {
                errorEl.classList.add('d-none');
            }
        }

        document.addEventListener("change", function(event) {
            
            if(event.target.classList.contains("field_type")){
                
                const field_row=event.target.closest(".field-row");
                const maxLengthField_div = field_row.querySelector(".maxLengthField-div");
                const maxLen_input=field_row.querySelector(".maxLengthField");
                
                console.log("MaxInput : ",maxLen_input,"this value :",event.target.value)
                if (event.target.value == "VARCHAR(255)") {
                    maxLengthField_div.style.display = "block";
                    maxLen_input.required = true;
                } else {
                    maxLengthField_div.style.display = "none";
                    maxLen_input.required = false;
                }
            }

        });

    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}    
</body>
</html>
