{% extends "base.html" %}
{% load static %}

{% block title %}Assingned Tasks{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ table.display_name }}</title>
    <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <style>
        #dataTable thead select {
            width: 100%;
            min-width: 100px;
        }
        #dataTable thead input {
            width: 100%;
        }
        #dataTable td{
            text-wrap: nowrap;
        }
            
         /* Filter Row */
        #excelFilterRow th {
            position: relative;
            background: #f8f9fa;
            padding: 2px;
        }
        
        
        .filter-btn {

            background: #fff;
            border: 1px solid #ced4da;
            font-size: 13px;
            padding: 6px 8px;
            border-radius: 5px;
            width: 100%;
            text-align: left;
            height: 32px;         
            line-height: 1.2;
            
            /* background: #fff;
            border: 1px solid #ced4da;
            font-size: 14px;
            padding: 10px 5px;
            border-radius: 5px;
            width: 100%;
            text-align:left; */
        }
        
        .filter-btn i {
            float:right;
        }
        
        .filter-dropdown .form-check {
            font-size: 10px;
        }

        /* Scrollable area */
        .filter-dropdown .checkbox-list {
            flex: 1;
            background-color: red !important;
            overflow-y: auto;
            padding: 6px 0;
        }
        
        
        #columnSelector .form-check {
            display: inline-block;
            margin-right: 10px;
        }
        
        </style>

</head>
<body>
    
{% block content %}
    <style>
        #dataTable thead select {
            width: 100%;
            min-width: 100px;
        }
        #dataTable thead input {
            width: 100%;
        }
        #dataTable td{
            text-wrap: nowrap;
        }
            
         /* Filter Row */
        #excelFilterRow th {
            position: relative;
            background: #f8f9fa;
            padding: 2px;
        }

        /* Dropdown Styles */
         .filter-dropdown {

            display: none; 
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            z-index: 1055;

            /* background-color: pink !important; */
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 6px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            min-width: 260px;
            max-height: 320px;

           
            flex-direction: column;

            /* display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            z-index: 1000;
            border: 1px solid #ddd;
            border-radius: 6px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            min-width: 400px;
            max-height: 370px;
            overflow-y: auto;
            padding: 18px; */
        }

        .apply-clear-buttons {
            
            position: sticky;
            bottom: 0;
            background: #fff;
            padding: 8px 6px;

            display: flex;
            justify-content: flex-end;
            gap: 6px;

            border-top: 1px solid #eee;

            /* background: red !important;
            border: 5px solid blue !important; */
            
            /* border-top: 1px solid #eee; 
            margin-top: 5px;
            padding-top: 5px;
            display: flex;
            justify-content: flex-end;
            gap: 5px; */
        }

        .select-all-wrapper {
            position: sticky;
            top: 0;
            background: #fff;
            padding:10px 35px;
            border-bottom: 1px solid #eee;
            z-index: 1;
            width: 100%;
        }
        
        .select-all-wrapper label {
            display: inline-flex;
            justify-content: center ;
            align-items: center;
            gap: 6px;
            white-space: nowrap;               
            font-size:17px;
            /* background-color: green; */
            padding: 0 13px;                
            margin: 0;
            
            line-height: 1;
        }
        
        .select-all-wrapper input[type="checkbox"] {
            margin: 0;
            width: 30px;
        }

        
        .filter-dropdown .checkbox-list {
            flex: 1;
            overflow-y: auto; 
            padding: 6px 0px;
        }

        .filter-btn {
            background: #fff;
            border: 1px solid #ced4da;
            font-size: 14px;
            padding: 10px 5px;
            border-radius: 5px;
            width: 100%;
            text-align:left;
        }

        .filter-btn i {
            float:right;
        }

        .filter-dropdown .form-check {
            font-size: 16px;
        }

        

        #columnSelector .form-check {
            display: inline-block;
            margin-right: 10px;
        }

        
        .editable-cell {
            outline: none;
        }
        .editable-cell-updated {
            background: #d4edda !important;
            transition: 0.5s;
        }
            
    </style>

    <div class="container mt-3">
        <div class="row mb-2">
            
            
            <div class="col">
                <h4>Display Columns</h4>
            </div>

            <div class="col text-end">
                <button id="toggleColumnSelector" class="btn btn-secondary btn-sm me-2">Show</button>
            </div>
           
            <div id="columnSelectorWrapper" style="display: none;">
                <div id="columnSelector" class="mb-3"></div>
                
                <div class="text-end">
                    <button id="applyColumns" class="col btn btn-primary btn-sm">Apply Columns</button>
                </div>
            </div>
        </div>
    </div>
  
    <hr>

    <div id="taskAlert" class="alert mt-2 d-none" role="alert"></div>

    <!-- Toast Container -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="taskToast" class="toast align-items-center text-white border-0"
             role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Message goes here
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>

    <div class="{%if is_admin %} d-flex {% else %} d-none {% endif %} justify-content-between align-items-center  mb-2" >
        <h3>Table Name : <code>{{ table.display_name }}</code></h3>
        <button id="toggleTaskBtn" class="btn btn-primary mb-2">
        Assign Task</button>
    </div>

    <div id="taskDivId" class="border py-2 rounded flex-center mb-2" style="display:none;">

                <label for="rowLimit" class="form-label px-3">TaskName</label>
                <input id="taskName" type="text" class="form-control w-50" >
                <select id="userSelect" class="form-select w-auto mx-3" >

                    <option value="" selected>- select user -</option>
                    {% for user in users%}
                        <option value="{{user.username}}" >{{user.username}}</option>
                    {% endfor %}
                    
                </select>
                <button id="AssingId" class="btn btn-success">
                     <span class="btn-text">Assign</span>
                     <span class="spinner-border spinner-border-sm d-none" id="assignSpinner"></span>
                </button>
                
                <button id="ShowSelRowBtn" class="btn btn-secondary ms-2">Show</button>
                
                <div class="border rounded px-1 ms-3">
                    <label id="SelCountId" class="form-label">Count : 0</label>
                </div>                       
    </div>
    
    
    <table id="dataTable" class="table table-striped table-bordered table-hover w-100" style="width:100%">        
        <thead>
            <tr id="headerRow">
                <!-- Column headers will load dynamically -->
            </tr>
            <tr id="excelFilterRow"></tr>
            <tr id="filterRow" class="mb-3"></tr>
        </thead>
              
    </table>
</body>

<script>

        let table;
        window.selectedRowIds = [];   // ✅ Declare here (global)

        function disableEditUI() {
            console.log("Disable Edit Feature Triggered !");
            $('.editable-cell').removeAttr('contenteditable');
            $('.delete-row-btn').hide();
            $('#deleteSelectedRows').hide();
            $('#toggleTaskBtn').hide();
            // $('#selectAllBtn').hide();
        }
        
        function getCookie(name){
            
                let cookieValue = null;
                if ( document.cookie && document.cookie != '' ){
                        let cookies=document.cookie.split(";");
                        for (let cookie of cookies) {
                            cookie = cookie.trim();
                            if (cookie.startsWith(name + "=")) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                }
                console.log("Cookie value :"+cookieValue)
                return cookieValue; 
            
        }

        // AJAX SETUP
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });

        function showToast(message, isSuccess = true) {
            const toastEl = $("#taskToast");
            const toastBody = toastEl.find(".toast-body");

            toastBody.html(message);

            toastEl
                .removeClass("bg-success bg-danger")
                .addClass(isSuccess ? "bg-success" : "bg-danger");

            const toast = new bootstrap.Toast(toastEl[0]);
            toast.show();
        }


        
        function setupColWiseFilterDropdownHandlers() {

                $(document).on('change', '.select-all-checkbox', function () {

                        const isChecked = $(this).is(':checked');

                        // Find THIS dropdown only
                        const dropdown = $(this).closest('.filter-dropdown');

                        // Check / uncheck all column checkboxes inside this dropdown
                        dropdown.find('.checkbox-list input[type="checkbox"]')
                                .prop('checked', isChecked);
                });

        // all the delegated event handlers go here (the block above)
        // ✅ Dropdown toggle handler
            $(document).on('click', '.filter-btn', function (e) {
                e.stopPropagation();

                console.log("Filter BUtton Even Triggered !");
                // $('.filter-dropdown').not($(this).siblings('.filter-dropdown')).hide();
                console.log("Total FIlter ",$('.filter-dropdown').length)
                 $('.filter-dropdown').hide();
                // open current
                $(this).siblings('.filter-dropdown').css('display', 'flex');
                
                // $(this).siblings('.filter-dropdown').toggle();
            });
                
            // ✅ Hide dropdowns when clicking outside
            $(document).on('click', function () {
                $('.filter-dropdown').hide();
            });
        
            // ✅ Prevent closing dropdown on inside click
            $(document).on('click', '.filter-dropdown', function (e) {
                e.stopPropagation();
            });

                    
            // ✅ Apply filter
            $(document).on('click', '.apply-filter', function () {

                const dropdown = $(this).closest('.filter-dropdown');
                const wrapper = dropdown.closest('.filter-wrapper');
                const icon = wrapper.find('.filter-icon');


                const checkboxes = dropdown.find('.column-filter');
                const colIndex = checkboxes.first().data('col-index')
                const selected = checkboxes.filter(':checked').map(function () {
                                            return $(this).val();
                                }).get();

                console.log("Selected Items :",selected," COlumn in Index: ",colIndex);
                const regex = selected.length ? '^(' + selected.join('|') + ')$' : '';
                table.column(colIndex).search(regex, true, false).draw();

                if (selected.length > 0) {
                    icon.removeClass('bi-funnel').addClass('bi-funnel-fill text-primary');
                }

                dropdown.hide();
            });

                    // ✅ Clear filter
            $(document).on('click', '.clear-filter', function () {
                const dropdown = $(this).closest('.filter-dropdown');
                dropdown.find('.checkbox-list input[type="checkbox"]')
                                .prop('checked', false);

                const wrapper = dropdown.closest('.filter-wrapper');
                const icon = wrapper.find('.filter-icon');

                const checkboxes = dropdown.find('.column-filter');
                const colIndex = checkboxes.first().data('col-index');
                checkboxes.prop('checked', false);
                table.column(colIndex).search('').draw();

                icon.removeClass('bi-funnel-fill text-primary').addClass('bi-funnel');

                dropdown.hide();
            });

        }

        console.log("ClearAll Button :> ",$('#clearAllFilters').html())

        $(document).on('click','#clearAllFilters', function () {

                console.log("Clear Filter All Filter Event Trigger's ")
                // 1️⃣ Clear DataTable filters
                table.search('').columns().search('').draw();

                // 2️⃣ Uncheck all dropdown checkboxes
                $('.filter-dropdown .column-filter').prop('checked', false);

                // 3️⃣ Reset all filter icons
                $('.filter-icon')
                    .removeClass('bi-funnel-fill text-primary')
                    .addClass('bi-funnel');
        });

        

        $(document).on("click", "#AssingId", function () {

            const taskName = $("#taskName").val().trim();
            const assignedUser = $("#userSelect").val();
            const selectedIds = window.selectedRowIds || [];

            // ✅ Basic validations
            if (!taskName) {
                alert("Please enter Task Name");
                return;
            }
        
            if (!assignedUser) {
                alert("Please select user");
                return;
            }
        
            if (selectedIds.length === 0) {
                alert("Please select at least one row");
                return;
            }
            
            console.log("Selected row AssignTask: > ",window.selectedRowIds.join(","))
            $.ajax({

                    url: "{% url 'create_task' %}",
                    type: "POST",
                    data: {
                        taskName: taskName,
                        assignedUser: assignedUser,
                        rowIds: window.selectedRowIds.join(","), // stringify
                        tableID: "{{ table.id }}"
                    },
                    success: function (res) {

                        showToast(res.message, res.success);

                        if (res.success) {
                            $("#taskName").val("");
                            $("#userSelect").val("");
                        }
                    },
                    error: function () {
                        showToast("Server error occurred", false);
                    },
                    complete: function () {
                        // 🔄 Hide spinner
                        $("#assignSpinner").addClass("d-none");
                        $("#AssingId").prop("disabled", false);
                    }

            });

        });

        $(document).on("click", "#selectAllBtn", function () {

            let isSelectMode = $(this).text().trim() === "Select All";

            if (isSelectMode) {
                $(this).text("Unselect All")
                       .removeClass("btn-outline-success")
                       .addClass("btn-success");
            
                // select all visible
                $("#dataTable tbody .select-row-btn").each(function () {
                    const rowId = $(this).data("id");
                
                    if (!window.selectedRowIds.includes(rowId)) {
                        window.selectedRowIds.push(rowId);
                    }
                
                    $(this)
                        .removeClass("btn-outline-success")
                        .addClass("btn-success")
                        .html(`<i class="bi bi-check-lg"></i>`);
                });
            }
            else {
                $(this).text("Select All")
                       .removeClass("btn-success")
                       .addClass("btn-outline-success");
            
                // unselect all visible
                $("#dataTable tbody .select-row-btn").each(function () {
                    const rowId = $(this).data("id");
                
                    window.selectedRowIds = window.selectedRowIds.filter(id => id !== rowId);
                
                    $(this)
                        .removeClass("btn-success")
                        .addClass("btn-outline-success")
                        .text("Select");
                });
            }
            
            updateSelectionCount();
            console.log("Selected IDs:", window.selectedRowIds);
        });


        // VIEW ROW BUTTON EVENT
        $(document).on("click", ".view-row-btn", function () {
            
            //alert("View Buttton Clicked !!");
            const rowId = $(this).data('id');
            const tableName ="{{ table.table_name }}"// add table name in HTML
            // const html=$(this).html();

            // console.log(`VIEW HTML CLICK > ${html}`);
            // console.log("( View Button ): Table Name :",tableName,"RowId ",rowId);

            window.location.href = `/table_data/view_row_data/${tableName}/${rowId}/`; //

        });

        
        // DELETE ROW BUTTON EVENT 
        $(document).on("click",".delete-row-btn",function(){

            console.log(`This is> ${ $(this).html() }`);

            const rowId = $(this).data('id');
            const confirmation=confirm('Are you sure you want to delete this row ?')

            console.log(`DELETE BUTTON Row Id :> ${rowId} DELETE CONFIRMATION : ${confirmation} `)   
                
                if (rowId > 0 && confirmation) {
                    // Existing DB row - send delete to backend
                    $.ajax({

                        url:"{% url 'delete_table_row' table_name=table.table_name %}",
                        method:"POST",
                        data:JSON.stringify({ id: rowId }),
                        success: function(res){
                            console.log("Row Deleted Succesfully!");
                        },
                        error: function(res){
                            alert("Filed to Delete the Row !");
                        }

                    });
                    $(this).closest('tr').remove();
                }

        });
        
        // EVENT FOR DELETE THE 'SELECTED ROWS'
        $(document).on('click', '#deleteSelectedRows', function () {
    
                if (window.selectedRowIds.length === 0) {
                    alert('Please select at least one row');
                    return;
                }
            
                if (!confirm(`Delete ${window.selectedRowIds.length} selected rows?`)) {
                    return;
                }
            
                $.ajax({
                    url: "{% url 'adminViewdata_deleteSeleted_rows' table_name=table.table_name %}", // Django delete endpoint
                    type: 'POST',
                    data: {
                        ids: window.selectedRowIds,
                    },
                    success: function (response) {

                        window.selectedRowIds.length = 0;
                        updateSelectionCount();
        
                        table.ajax.reload(null, true);

                        console.log("Selected IDs After Selected Deleted Button : ", window.selectedRowIds);
                        table.draw(false); // redraw without page reset
                    },

                    error: function () {
                        alert('Delete failed');
                    }
                });
        });
        



        // EVENT DELGATION FOR DELETE BUTTON
        document.addEventListener('click', function(event) {

            if (event.target.classList.contains('delete-row-btn')) {    

                
                const rowId = row.getAttribute('row-id');
                const confirmation=confirm('Are you sure you want to delete this row?')
                if (rowId > 0 && confirmation) {
                    // Existing DB row - send delete to backend
                    fetch("{% url 'delete_table_row' table_name=table.table_name %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ id: rowId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            row.remove();
                        } else {
                            alert('Failed to delete row.');
                        }
                    });
                } if(confirmation){
                
                    // New row (just remove from DOM)
                    row.remove();
                }
            }
        });
        
        function updateSelectionCount(){

            const count_lable=$("#SelCountId");
            count_lable.text(`Count : ${selectedRowIds.length}`);

        }

$(document).ready(function() {
            
            const tableId = "{{ table.id }}";
            
            let allColumns = [];
            let selectedColumns = [];
            
            // SET THE EVENT HANDLERS FOR COLUM WISE FILTER DROPDOWN AND TEXT BOX'S 
            setupColWiseFilterDropdownHandlers();

            // SHOW/HIDE Display Column Button
            $("#toggleColumnSelector").on("click", function () {        
                const btn = $(this);

                $("#columnSelectorWrapper").slideToggle(300, function () {
                    if ($(this).is(":visible")) {
                        btn.text("Hide");
                    } else {
                        btn.text("Show");
                    }
                });
            });


            $('#ShowSelRowBtn').on("click",function(){
                
                selectedColumns = $('.column-toggle:checked').map(function() {
                    return $(this).val();
                }).get()

                if ($.fn.DataTable.isDataTable('#dataTable')) {
                        $('#dataTable').DataTable().clear().destroy();
                        $('#dataTable thead').empty(); // ✅ important
                }
                
                console.log("Show button Text > "+$(this).text());
                if ($(this).text() === "Show"){
                    renderTable();
                    $(this).text("Show All");

                }
                else{
                    renderTable();
                    $(this).text("Show");
                    
                }
                
                console.log("Table Reders !");
            });

            
            // Fetch column names dynamically first
            $.getJSON(`/table_data_datatable/${tableId}/data/?length=1`, function(initData) {
                    
                    if (initData.data.length == 0) {
                        $('#dataTable').html('<p>No data found</p>');
                    }
                    
                    allColumns = Object.keys(initData.data[0])
                    allColumns.push("Action");
                    
                    console.log("Column Name :> ", initData.columns);
                    console.log("Column Name Disp:> ", initData.displayColumn);
                    console.log("All Columns : ",allColumns)

        
                    allColumns.forEach(col => {
                        
                        //console.log("Column :<> ",col)
                        $('#columnSelector').append(`
                            <div class="form-check form-check-inline">
                                <input class="form-check-input column-toggle" type="checkbox" value="${col}" id="chk_${col}" checked>
                                <label class="form-check-label" for="chk_${col}">${col}</label>
                            </div>
                        `);

                    });

        
                    // Default: all columns selected
                    selectedColumns = [...allColumns];            
                    renderTable();

                    // Step 4: When “Apply Columns” clicked → re-render
                    $('#applyColumns').on('click', function() {
                        
                        selectedColumns = $('.column-toggle:checked').map(function() {
                            return $(this).val();
                        }).get();


                        if ($.fn.DataTable.isDataTable('#dataTable')) {
                                $('#dataTable').DataTable().clear().destroy();
                                $('#dataTable thead').empty(); // ✅ important
                        }
                        renderTable();
                    });
                    
                
                
            });
            
            function renderTable(){

                $('#headerRow, #filterRow ,#excelFilterRow').empty();
                    
                    console.log("Selected Col in Render : ",selectedColumns);
                    
                    const columns=selectedColumns.map(col => {
                            if (col === "Action") {
                                return {
                                    data: null,
                                    title: "Action",
                                    orderable: false,
                                    searchable: false,
                                    render: function(data, type, row) {
                                        return `
                                            
                                            <button class="btn btn-sm btn-primary view-row view-row-btn" data-id="${row.id}">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger delete-row delete-row-btn" data-id="${row.id}">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-success select-row-btn" data-id="${row.id}">
                                                Select
                                            </button>
                                        `;
                                    }
                                };
                            }
                            else {
                                return { data: col, title: col };
                            }
                    });

                    $('#dataTable thead').html(`
                        <tr id="headerRow"></tr>
                        <tr id="excelFilterRow"></tr>
                        <tr id="filterRow"></tr>
                    `);

                    columns.forEach(col => {
                        
                        //$('#headerRow').append(`<th>${col.title}</th>`);
                        if (col.title !== "Action"){
                            
                            $('#headerRow').append(`<th>${col.title}</th>`);
                            $('#excelFilterRow').append(`
                                    <th>
                                        <div class="filter-wrapper position-relative">
                                            <button class="filter-btn" data-col="${col.title}">
                                                ${col.title}<i class="bi bi-funnel ms-1 filter-icon"></i>
                                            </button>

                                            <div class="filter-dropdown">
                                                
                                                <!-- Select All -->
                                                <div class="select-all-wrapper mb-2">
                                                    <label class="fw-semibold">
                                                        <input type="checkbox" class="select-all-checkbox form-check-input">
                                                        Select All
                                                    </label>
                                                </div>

                                                 <!-- Checkbox list (scrollable) -->
                                                <div class="checkbox-list ms-3"></div>

                                                <!-- Fixed footer -->
                                                <div class="apply-clear-buttons">
                                                    <button class="btn btn-sm btn-primary apply-filter">Apply</button>
                                                    <button class="btn btn-sm btn-secondary clear-filter">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                            `);
                            $('#filterRow').append(
                                `<th><input type="text" class="form-control form-control-sm column-filter" placeholder="Search ${col.title}" /></th>`
                            );
                        }
                        else{
                            $('#headerRow').append(`<th>${col.title}</th>`);
                            $('#excelFilterRow').append(`<th class="flex-center mt-2"><button id="clearAllFilters" class="btn btn-outline-danger text-nowrap btn-sm mb-2">
    <i class="bi bi-x-circle"></i> Clear All Filters</button></th>`);
                            $('#filterRow').append(`<th class="flex-center gap-2"><button id="deleteSelectedRows" class="btn btn-sm btn-outline-danger text-nowrap">
        <i class="bi bi-trash"></i> Delete
    </button><button id="selectAllBtn" class="btn btn-sm btn-outline-success text-nowrap w-100"> Select All </button> </th>`);
                        }
                        

                    });

                    console.log("SELECTE COLUMN'S ",selectedColumns);
                    btn_txt=$('#ShowSelRowBtn').text().trim();
                    console.log("<SELET ROW BUTTON TEXT > ",btn_txt);

                    let CAN_EDIT = false;
                    // Initialize DataTable
                    table = $('#dataTable').DataTable({
                        
                        processing: true,
                        serverSide: true,
                        ajax:{ 
                            url:`/table_data_datatable/${tableId}/data/`,
                            data: function(d) {
                                // Send selected columns to backend
                                d.selected_columns = selectedColumns.filter(col => col !== "Action");
                                d.selectedRow = btn_txt === "Show" && window.selectedRowIds ? window.selectedRowIds :'';
                            },
                            dataSrc: function (json) {

                                    CAN_EDIT = json.can_edit;
                                    console.log("CAN_EDIT from AJAX:", CAN_EDIT);

                                    if (!CAN_EDIT) {
                                        disableEditUI();
                                    }
                                
                                    return json.data;
                                }           
                        },
                        columns: columns,
                        pageLength: 25,
                        lengthMenu: [ [10, 25, 50, 100, 250, 500,1000,2000,5000,-1], [10, 25, 50, 100, 250, 500,1000,2000,5000,"All"] ],
                        orderCellsTop: true,
                        responsive: true,
                        language: {
                            searchPlaceholder: "Global search...",
                            search: "",
                        },
                        dom: "<'row mb-1'<'col-sm-6'l><'col-sm-6'f>>" +
                                "<'row mb-1'<'col-sm-12 d-flex justify-content-end'i>>" +
                                "<'row'<'col-sm-12'tr>>" +
                                "<'row mt-2'<'col-sm-12'p>>",

                        createdRow: function (row, data, dataIndex) {
                            // Make all cells editable except the ID column
                            if(!CAN_EDIT){
                                $(row).find('.delete-row-btn').each(function(){
                                    $(this).hide();
                                });
                                return
                            }
                            
                            $(row).find('td').each(function (colIndex) {

                                let columnName = selectedColumns[colIndex];

                                if (columnName !== "id" && columnName !== "Action" && columnName !== "assigned_to") {  // do not edit ID column
                                    $(this)
                                        .attr("contenteditable", "true")
                                        .addClass("editable-cell")
                                        .attr("data-field", columnName)
                                        .attr("data-id", data.id);
                                }
                            });
                            
                        }

                        // initComplete: function() {
                        //     const api = this.api();

                        //     // Populate dropdown filters dynamically (Excel-like)
                        //     api.columns().every(function() {
                                
                        //         const column = this;
                        //         const colIndex = column.index();
                        //         const filterDropdown = $('#excelFilterRow th').eq(colIndex).find('.filter-dropdown .checkbox-list');

                        //         // Collect unique values
                        //         column.data().unique().sort().each(function (d) {

                                    
                        //             console.log(`Assinged to data :>${d}|` )
                        //             const value=d;
                        //             if (value || value === '') {
                        //                 const safeId = `chk_${colIndex}_${value.toString().replace(/\s+/g, '_')}`;
                        //                 filterDropdown.append(`
                        //                     <div class="form-check">
                        //                         <input class="form-check-input column-filter" type="checkbox" value="${value}" id="${safeId}" data-col-index="${colIndex}">
                        //                         <label class="form-check-label" for="${safeId}">${!value ? 'BLANK':value}</label>
                        //                     </div>
                        //                 `);
                        //             }
                        //         });                                
                        //     });
                        // }
                        
                    });
                    
                    table.on("xhr", function () {

                        const json = table.ajax.json();
                        if (!json || !json.filter_options) return;

                        console.log("Updated Filter Options:", json.filter_options);

                        Object.entries(json.filter_options).forEach(([colName, values]) => {
                        
                            const colIndex = selectedColumns.indexOf(colName);
                            if (colIndex === -1) return;
                        
                            const dropdown = $('#excelFilterRow th')
                                .eq(colIndex)
                                .find('.checkbox-list');
                        
                            // Preserve already selected values
                            const selectedValues = dropdown
                                .find("input:checked")
                                .map((_, el) => el.value)
                                .get();
                        
                            dropdown.empty();
                        
                            values.forEach(val => {
                                const safeVal = val === '' ? 'BLANK' : val;
                                const checked = selectedValues.includes(val);
                            
                                dropdown.append(`
                                    <div class="form-check">
                                        <input class="form-check-input column-filter"
                                               type="checkbox"
                                               value="${val}"
                                               data-col-index="${colIndex}"
                                               ${checked ? "checked" : ""}>
                                        <label class="form-check-label">${safeVal}</label>
                                    </div>
                                `);
                            });
                        });
                    });
                    //$("#headerRow").hide()

                    //console.log("After Append :",$('#headerRow').html());

                     
                // 🔹 Column-wise filtering
                $('#dataTable thead .column-filter').on('keyup change', function() {
                    const colIndex = $(this).parent().index();
                    console.log("COL Index Search : ",colIndex);
                    console.log("Search Value :",this.value);
                    table.column(colIndex).search(this.value).draw();
                });

                table.on('draw', function () {
                        $(".select-row-btn").each(function () {
                            let id = $(this).data("id");
                            if (window.selectedRowIds.includes(id)) {
                                
                                $(this).removeClass("btn-outline-success")
                                .addClass("btn-success")
                                .html('<i class="bi bi-check-lg"></i>');
                                                                
                            }
                        });
                });
                
                $('deleteSelectedRows').hide();

            }



            function updateField(rowId, field, value) {
                    
                $.ajax({
                        url: "/table/update_cell/",
                        method: "POST",
                        data: {
                            task_tableId:'{{table.id}}',
                            id: rowId,
                            field: field,
                            value: value,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            console.log("Updated successfully!");
                        },
                        error: function () {
                            alert("Failed to update!");
                        }
                });
            }

            $(document).on("blur", ".editable-cell", function () {
                    let newValue = $(this).text().trim();
                    let field = $(this).data("field");
                    let rowId = $(this).data("id");

                    console.log("Updating:", rowId, field, newValue);

                    updateField(rowId, field, newValue);
            });


            //TASK FEATURE JS
            $("#toggleTaskBtn").on("click", function () {
                    
                $("#taskDivId").slideToggle(400);
            });


            //SELECT ROW BUTTON EVENT 
            $(document).on("click", ".select-row-btn", function () {
                        
                        let rowId = $(this).data("id")
                        if (window.selectedRowIds.includes(rowId)) {
                            // Unselect
                            window.selectedRowIds = window.selectedRowIds.filter(id => id !== rowId);
                            $(this).removeClass("btn-success").addClass("btn-outline-success").html('<i class="bi bi-check-lg d-none"></i> Select');
                        } else {
                            // Select
                            window.selectedRowIds.push(rowId);
                            $(this).removeClass("btn-outline-success").addClass("btn-success").html('<i class="bi bi-check-lg"></i>');
                        }
                        
                        updateSelectionCount();
                        console.log("Selected IDs: ", window.selectedRowIds);
            });






});

        
    </script>

</html>

{% endblock %}