{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

    <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<h2>Row Details</h2>

<table class="table table-bordered">
    <tbody>
        {% for col in columns %}
        <tr >
            <td style="width:8%">{{forloop.counter}}</td>
            <th style="width:30%">{{ col }}</th>
            
            <!-- <td contenteditable={% if col == "id" or not user.is_staff %} "false" {% else %} "true" {% endif %} data-field="{{ col }}" tabindex="-1">{% if row %}  {{row|get_item:col|format_date_auto}} {% endif %}</td> -->
             <td data-field="{{ col }}" contenteditable={% if col == "id" or "assigned_to" in col %}"false"{% elif user.is_staff %}"true"{% else %}"false"{% endif %}   class={% if col != "id" %} "editable-cell" {% else %} "" {% endif %}   tabindex="-1"> {% if row %}  {{row|get_item:col|format_date_auto}} {% endif %}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="javascript:history.back()" class="btn btn-secondary">Back</a>


<script>

$(document).ready(function(){

    var row_id="{{ row|get_item:'id' }}";
    

    function updateField(field, value) {

            console.log(`Row Id >> ${row_id}  Fields: ${field} Value: ${value}`);
            table_id='{{table_id}}';
            
            console.log("Table Id : ",table_id);

            $.ajax({       
                    url: "{% url 'update_table_cell' %}",
                    method: "POST",
                    data: {
                        task_tableId:table_id,
                        id: row_id,
                        field: field,
                        value: value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        console.log("Updated successfully!");
                    },

                    error: function (response) {

                        console.log("Error Message : >",response.responseJSON.error);
                        alert("Updation Failed : "+response.responseJSON.error);
                    }
            });
    }

    $(document).on("blur", ".editable-cell", function () {
            let newValue = $(this).text().trim();
            let field = $(this).data("field");
            
            console.log("Updating:", row_id, field, newValue);

            updateField(field, newValue);
    });

});
</script>

{% endblock %}