{% extends "base.html" %}
{% load custom_tags %}
{% load static %}


{% block title %} Edit Custom Table {% endblock %}
{% block content %}
        <div class="card shadow p-4">
            <h2 class="mb-4">Edit Custom Table</h2>
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <h5 class="py-2" >Table Name</h5>
                    <!-- <label for="table_name" class="form-label"></label> -->
                    <input type="hidden" id="tableId" value="{{ table.id }}">
                    <input type="text" id="table_name" class="form-control" value="{{table.display_name}}" readonly>
                </div>

                <div id="fields">

                     {% for field in fields %}
                        
                        <!-- <li class="list-group-item">{{ field.display_name }} {% if field.max_length %} <code>[{{field.max_length}}]</code> {% endif %} — <code>{{ field.field_name }}</code> : {{ field.field_type }}</li> -->

                        <div class="row g-2 mb-2 mt-1 align-items-center field-row">

                            <!-- OLD FILED NAME HIDDEN INPUT -->
                            <input type="hidden" name="old_field_id[]" value="{{ field.id }}">
                            <input type="hidden" name="old_field_name[]" value="{{ field.display_name }}">
                            <input type="hidden" name="old_field_type[]" value="{{ field.field_type }}">
                        
                            
                            <label class="col-md-4">
                                {{ field.display_name }} {% if field.max_length %} <code>[{{field.max_length}}]</code> {% endif %}: <code>{{ field.field_type }} {% if field.is_not_null %} [NOT NULL] {% endif %} {% if field.is_unique %} [ Unique ] {% endif %} </code>
                            </label>
                            <div class="col-md-2">
                                <input type="text" name="field_name[]" class="form-control" value="{{ field.display_name }}" data-index="{{ forloop.counter0 }}" placeholder="Field Name" oninput="validateName(this)" required>
                                <div class="form-text text-danger d-none py-2">❌ Invalid field name.</div>
                            </div>

                            <div class="col-md-2">
                                <select name="field_type[]" class="form-select field_type">
                                    <option value="">Select Field Type</option>
                                    <option value="VARCHAR(255)" {% if "VARCHAR" in field.field_type %} selected {% endif %}>Text</option>
                                    <option value="INTEGER" {% if "INTEGER" in field.field_type %} selected {% endif %}>Number</option>
                                    <option value="DATE" {% if "DATE" in field.field_type %} selected {% endif %}>Date</option>
                                    <option value="BOOLEAN" {% if "BOOLEAN" in field.field_type %} selected {% endif %}>Boolean</option>
                                </select>
                            </div>

                            <!-- is_primary_key is_not_null is_unique default_value -->
                        
                            <div class="col-md-2 maxLengthField-div" {% if "VARCHAR" in field.field_type %} style="display:block ;" {% else %} style="display:none;" {% endif %}>
                                <input type="text" name="max_length[]"  class="form-control maxLengthField" placeholder="Max Size" value="{{ field.max_length }}"></intput>
                            </div>

                            <div class="col-md-1">
                                <button  type="button" class="btn btn-outline-danger btn-sm remove-Field-row" ><i class="bi bi-trash"></i></button>
                                <button type="button" class="btn btn-outline-secondary btn-sm constraintToggle-btn" ><i class="bi bi-gear"></i></button>
                            </div>


                            <div  class="flex-center flex-warp gap-1 constraint-row"  style="display:none;">

                                <div class="w-50 d-flex justify-content-start border rounded">
                                    <input type="hidden" name="not_null[{{ forloop.counter0 }}]" value="0">
                                    <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" style="width:1rem; height:1rem;" name="not_null[{{ forloop.counter0 }}]" value="1" {% if field.is_not_null %}checked{% endif %}> NOT NULL</label>
                                </div>

                                <div class="w-50 d-flex justify-content-start border rounded">
                                    <input type="hidden" name="unique[{{ forloop.counter0 }}]" value="0">
                                                                        
                                    <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="unique[{{ forloop.counter0 }}]" style="width:1rem; height:1rem;" value="1" {% if field.is_unique %}checked{% endif %}> UNIQUE</label>
                                </div>

                                <div class="w-50 flex-center">
                                    <label class="form-label px-2">Default:</label> <input type="text" name="default_value[]" {% if field.default_value %} value="{{field.default_value}}" {% endif %} placeholder="(optional)"  class="form-control" >
                                </div>

                                <div class="w-50 flex-center">
                                    <label class="form-label px-2">Check:</label> <input type="text" name="check_condition[]" {% if field.check_constraint %} value="{{field.check_constraint}}" {% endif %} placeholder="e.g. age >= 18" class="form-control">
                                </div>

                                 <div class="w-50 d-flex justify-content-start border rounded">
                                    <label class="form-label flex-center px-1"><input class="mx-1" type="checkbox" name="composite_unique[]" style="width:1rem; height:1rem;" value="1"> Composite Unique</label>
                                </div>

                            </div>

                        </div> 
                {% endfor %}
                </div>

                <div class="mb-3">
                    <button id="addField-id" type="button" class="btn btn-outline-secondary btn-sm" >+ Add Field</button>
                    <button id="addConst-id" type="button" class="btn btn-outline-secondary btn-sm" >Set Composite Uniques</button>
                </div>
                
                <!-- COMPISTE UNIQUE SET DIALOG BOX (MODAL) -->
                <div class="modal fade" id="compositeModal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        
                            <!-- Header -->
                            <div class="modal-header">
                              <h5 class="modal-title">Choose Composite Fields</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                        
                            <div id="modal-body" class="border rounded p-2 m-3 shadow-sm" >
                            
                                    <div id="compositeUniqueContainer" class="d-flex flex-wrap align-items-center gap-3 border rounded p-3 mb-3 position-relative">
                                        
                                        <!-- INSERT THE CHECKBOX AND COLUMNS -->                                        
                                        {% for field in fields %}
                                            <div class="form-check d-flex align-items-center mb-1" data-index="{{forloop.counter0}}">
                                                <input class="form-check-input me-1" type="checkbox" 
                                                       name="composite_unique_fields[]" 
                                                       value="{{ field.display_name }}" id="comp_{{ field.display_name }}" data-index="{{forloop.counter0}}">
                                                <label class="form-check-label" for="comp_{{ field.display_name }}">
                                                    {{ field.display_name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        
                            
                                        <div id="uniquComboAddWrapper" class="w-100 d-flex justify-content-end mt-2">
                                            <button id="comboaddBtn" type="button" class="btn btn-sm btn-primary mt-2" onclick="addCompositeUnique()">
                                                + Add 
                                            </button>
                                        </div>
                                    </div>
                                
                                    <div class="compositeUniques border rounded p-2 mb-5">
                                            <strong>Unique Combination:</strong>
                                            {% for cu in composite_uniques_data %}
                                                <div class="d-flex compositeUnqiueSelectedRow justify-content-between align-items-center border rounded px-2 py-1 mb-2" data-id="{{cu.id}}"  data-constraint="{{ cu.constraint_name }}">

                                                    <span>
                                                        {{cu.cu_names}}
                                                    </span>

                                                    <div >
                                                        <input type="hidden" name="composite_unique_groups[]" value="{{cu.cu_indexes}}">
                                                        <button type="button" class="btn btn-sm btn-outline-danger delete-composite-btn" ><i class="bi bi-trash"></i></button>
                                                    </div>

                                                    
                                                </div>
                                            {% endfor %}
                                            <p class="text-muted text-center small mb-0 empty-text" style="display:none;">
                                                No composite unique set yet
                                            </p>
                                            
                                    </div>
                            </div>
                        
                            <!-- Footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end">
                    <a href="{% url 'view_tables' %}" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-primary ms-2" id="createBtn">Save Changes</button>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/edit_table_schema.js' %}"></script>
    {% endblock %}
