<!-- Custom Tables -->
<div class="px-3 mt-4">
    <small class="text-uppercase text-secondary">Data Management</small>
</div>
<a href="{% url 'create_table' %}">
    <i class="bi bi-table"></i> Create Table
</a>
<a href="{% url 'view_tables' %}">
    <i class="bi bi-eye"></i> View Tables
</a>

<!-- Count Dashboard -->
<div class="px-3 mt-3">
    <small class="text-uppercase text-secondary">Analytics</small>
</div>
<a href="{% url 'create_statuscount_dashboard' %}">
    <i class="bi bi-speedometer2"></i> Create
</a>
<a href="{% url 'dashboard_list' %}">
    <i class="bi bi-bar-chart"></i> View
</a>

<!-- Projects -->
<div class="px-3 mt-3">
    <small class="text-uppercase text-secondary">Projects</small>
</div>
<a href="{% url 'create_project' %}">
    <i class="bi bi-folder-plus"></i> Create
</a>
<a href="{% url 'project_list' %}">
    <i class="bi bi-folder"></i> View
</a>

<!-- Internal Tools -->
<div class="px-3 mt-3">
    <small class="text-uppercase text-secondary">Tools</small>
</div>
<a href="{% url 'SPRI_tool_page' %}">
    <i class="bi bi-tools"></i> SPIR
</a>

<!-- <a href="{% url 'create_table' %}" >Create Table</a>
<a href="{% url 'view_tables' %}" >View Tables</a>
<a href="{% url 'create_statuscount_dashboard' %}">Dashboard Create</a>
<a href="{% url 'dashboard_list' %}" >Dashboard View</a>
<a href="{% url 'create_project' %}" >Pro Create</a>
<a href="{% url 'project_list' %}">Pro View </a>
<a href="{% url 'SPRI_tool_page' %}">SPIR</a> -->