<!-- Tables -->
<div class="px-3 mt-3">
    <small class="text-uppercase text-secondary"> Data </small>
</div>
<a href="{% url 'user_view_table' %}">
    <i class="bi bi-table"></i> View Tables
</a>

<!-- Tasks -->
<div class="px-3 mt-4">
    <small class="text-uppercase text-secondary">Work</small>
</div>
<a href="{% url 'choose_table' %}">
    <i class="bi bi-list-check"></i> Team Task
</a>
<a href="{% url 'user_assigned_tasks' %}">
    <i class="bi bi-check2-square"></i> My Tasks
</a>

<!-- Project Attendance -->
<div class="px-3 mt-4">
    <small class="text-uppercase text-secondary">Project Attendance</small>
</div>
<a href="{% url 'user_projects' %}">
    <i class="bi bi-calendar-check"></i> Attendance
</a>

<!-- <a href="{% url 'user_view_table' %}" >Tables</a>
<a href="{% url 'choose_table' %}" >Tasks</a>
<a href="{% url 'user_assigned_tasks' %}" >Assigned Tasks</a>
<a href="{% url 'user_projects' %}" >Attendence</a> -->
