{% extends "base.html" %}
{% load custom_tags %}


{% block content %}

<h4>{{ dashboard.name }}</h4>

{% if data %}
<table class="table table-bordered">
    <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col.field.display_name }}</th>
            {% endfor %}
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for col in columns %}
                <td>{{ row|get_item:col.field.field_name }}</td>
            {% endfor %}
            <td>{{ row.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-muted">No data found.</p>
{% endif %}

{% endblock %}